
/* DISPLAY */
.game-board{
    display: flex;
    width: 794px;
    height: 784px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 20px auto;
    background-color: #1F2527;
    border: 3px solid #F8CD51;
}

.grid {
    display: grid; /* Use grid layout */
    grid-template-rows: repeat(5, 80px);
    grid-template-columns: repeat(5, 80px);
    padding: 20px;
    gap: 1px;
}

.cell {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2B3538;
    border: 1px solid #F1F2F2;
}

.robot-image {
    width: 80%;
    height: 80%;
    object-fit: contain;
}


/* CONTAINERS */
.text-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    margin: 20px;
    height: 50px;
    background: #2B3538; 
    border-radius: 5px;
}

.controls {
    display: flex;
    gap: 10px;
    margin: 10px;
}

/* BUTTONS */
button {
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
}
  
button.main-control {
    background-color: #4FAECB;
    color: #1F2527;
}
  
button.secondary {
    background-color:#2B3538;
    color: #F1F2F2;
    border: 2px solid #4FAECB;
}
  

/* TEXT */
p {
    margin: 20px;
    font-size: 1rem;
    font-family:Arial, Helvetica, sans-serif;
    color: #F1F2F2;
}

h4{
    margin: 20px;
    font-family:Arial, Helvetica, sans-serif;
    color: #F1F2F2;
}